<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }


  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #0050EF;
    color: white;
    font-weight: 600;
    font-size: 72px;

  }

  .toolbar img {
    margin: 0 16px;
  }
  .column {
    float: center;
    width: 5%;
    padding: 324px;
  }

  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
figcaption {
  padding: 5px;
  font-family: 'Cherry Swash', cursive;
  font-size: 1em;
  font-weight: 700;
  border: none;
  background: transparent;
  word-wrap:normal;
  text-align: center;
}
a {
  text-decoration:none;
}

button {
  background-color: 008CFF; /* Green */
  border:#333;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration:solid;
  display:inline-flexbox;
  font-size: 24px;
}

</style>

<!-- Toolbar -->
<div class="toolbar">
  <img
    src="/assets/img/coloring_blue.jpg"
    alt="image"
    width="120"
  />
  <span>ColoringAi</span>
    <div class="spacer"></div>

    <button 
      type="button" 
      class="btn btn-primary">Sing up
    </button>
  </div>
 <div class="row">
  <div class="column">
    <img 
      src="/assets/img/alexandru-zdrobau--djRG1vB1pw-unsplash_.jpg" 
      alt="BW" 
      style="width: 600px;">
  </div>
  <div class="column">
    <figure>
      <img 
        src="/assets/img/alexandru-zdrobau--djRG1vB1pw-unsplash.jpg" 
        alt="CL" 
        style="width: 600px;">
      <figcaption>Photo by <a href="https://unsplash.com/photos/-djRG1vB1pw">Alexandru Zdrobău</a>.


      </figcaption>
    </figure>
  </div>
</div> 
